# --- Archivos a ignorar ---
*.class
*.swp
/practicas_poo/Ejercicio02/nbproject/private/
/practicas_poo/Ejercicio03/nbproject/private/
/practicas_poo/Ejercicio03/build/
/practicas_poo/Ejercicio04/nbproject/private/
/practicas_poo/Examen01/nbproject/private/
/practicas_poo/Examen02/nbproject/private/
/practicas_poo/Examen03/nbproject/private/
/practicas_poo/Examen05/nbproject/private/
/practicas_poo/Examen06/nbproject/private/
/practicas_poo/Examen06/build/
/practicas_poo/Examen04/nbproject/private/
/practicas_poo/Examen04/build/
/practicas_poo/HolaMundo/nbproject/private/
/practicas_poo/HolaMundo/build/